body
{
 background-color: rgb(74, 186, 149);
 display:flex;
}

@media(max-width:1000px)
{
 body
 {
 background-color: rgb(74, 186, 149);
 display:flex;
 flex-direction: column;
 }

}

a{
    text-decoration: none;
    color:rgb(58, 51, 51);
    font-size: large;
}

.left{
    height:100%;
    width:50%;
}

.right{
    height:100%;
    width:50%;
    color:rgb(235, 239, 238); 
    font-size: 1.5rem;
}


.intro
{
    color:rgb(235, 239, 238);
    text-decoration: none;
    margin:3%;
    margin-left: 12%;
    margin-top: 2%;
}

.img
{
    height:30rem;
    width:30rem;
    border-radius:30% ;
    background-image: url("mypic.jpg");
    background-size: cover;
    margin:3%;
    margin-top:2%;
    
}

button{
    background-color:rgb(235, 239, 238) ;
    height:3rem;
    width:10rem;
    margin: 1rem;
    border-radius: 5%;
}

