body{
    background-color:rgb(134, 214, 246);
}

h1{
    text-align: center;
    color: rgb(239, 244, 247);
    font-size: 3.5rem;
}

h2{
    text-align: left;
    margin-left: 5%;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
}

img{
    text-align: center;
    width:80%;
    margin:5%;
    margin-top: 1%;
}